

@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>Lorem Ipsum</h1>
    <p class="lead">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla mattis, massa eget mattis iaculis, lacus nulla euismod tellus, non auctor arcu 
        massa vitae purus. Mauris iaculis pulvinar laoreet. Mauris nulla turpis, maximus malesuada elit sit amet, dignissim tempor tortor. Morbi 
        hendrerit, ipsum vel sodales lobortis, nisi ipsum pellentesque odio, non interdum eros urna vitae leo.
    </p>
</div>