
        <div class="container">
            <div class="navbar-right">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-right" href=""> <img style="max-height:50px; min-width:300px;" src="~/Content/pwr_white_letters.png" /> </a>
            </div>
        </div>

