

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Empty Page</title>

</head>
<body>
    <h1>:(</h1>
    <div>
        This use case was out of scope of the project. It will be done someday (maybe).
        Click 'Main Page' tab to go back.
    </div>
    <img style="max-height:400px; min-width:600px;" src="~/Content/sad_kitten.jpeg" />

</body>
</html>


